* {
    margin:0;
    padding: 0;
}
.about {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center;
    align-items: center; */
}

.aboutTitle {
    font-size: 2rem;
    font-weight: 300;
    grid-row: 1;
}

.aboutProfile {
    align-self: end;
    width:50%;
    grid-row: 1;
}

#about-skills {
    justify-self: end;
}

#about-experience {
    justify-self: start;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}