* {
    margin:0;
    padding: 0;
}

.dark-mode {
    background-color: #1a1919;
    color: #999;
    color: white;
}

.dark-mode #bulb_body {
    fill: yellow;
}

.dark-mode #bulb_body:hover {
    fill: #1a1919;
}

.dark-mode .navlink {
    color: #999;
}